html,
body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
    background-image: url("/image/bg_login.jpg");
    background-repeat: repeat;
    background-position: center;
    /*background-size:cover ;*/
}
.form-signin {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 15pt;
    border-radius: 9px;
    height: 40pt;
}

.form-signin input[type="password"] {
    margin-bottom: 20pt;
    border-radius: 9px;
    height: 40pt;
}

.form-container{
    width: 40%;
    border-radius: 10pt;
    height: 80%;
    background-color: rgba(242, 236, 228, 0.8);
}

.button {
    background-color: #02734A;
    color: white;
    margin-top: 15pt;
    border-radius: 9pt;
}

.button:hover {
    background-color: rgb(1, 76, 50);
    color: white;
}

.container-nota{
    width: 487px;
    /*margin: 2rem;*/
    padding: 1rem;
}

.table-striped thead{
    background-color: #5AC340;
}

