main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.nav-link.active {
     background-color: rgba(255, 255, 255, 0.4);
     border-color: black;
}
.edit{
    background-color: #F27405;
}
.edit a:hover, .edit button:hover{
    color: rgba(255, 255, 255, 0.67);
}

.total_penjualan {
    background-color: rgba(131, 195, 223, 0.5);
    height: 51px;
    align-items: center;
}

.penjualan input{
    height: 34px;
    width: 169px;
}

.btn-orange {
    width: 100pt;
    background-color: #F25C05;
    color: white;
}
.btn-orange:hover {
    width: 100pt;
    background-color: #c84c04;
    color: white;
}

.table-green thead{
    background-color: #02734A;
    color: white;
    text-align: center;
}
.table-green thead th{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.delete-text{
    color: red;
    background-color: transparent;
    border: none;
}
.delete-text:hover{
    color: rgba(255, 0, 0, 0.65);
}
.modal-content {
    align-items: center;
    width: 571px;
    height: 205px;
    border-radius: 0.5rem;
}

.modal-footer{
    border: none;
}
.modal-body{
    padding-top: 3rem;
}
.modal-detail-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
.flex-total{
    background-image:linear-gradient(#83C3DF, transparent);
    height: 45px;
    color:#438AA9;
    font-weight: bold;
    border-radius: 4px;
}

.btn-close-detail{
    width: 100px;
    background-image: linear-gradient(rgba(109, 109, 109, 0.75), rgba(213, 213, 213, 0.49));
    border: none;
}

.btn-close-detail:hover{
    background-image: linear-gradient(rgba(109, 109, 109, 0.58), rgba(213, 213, 213, 0.36));
}

/*Btn new*/
.btn-green , .btn-green-a{
    background-color: #02734A;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn-green:hover, .btn-green-a a:hover{
    background-color: #003e2a;
    color: white;
}
.btn-green-a a:hover{
    background-color: #003e2a;
}
/*header*/
.header{
    background-color: #90CC8E;
}
.header a{
    /*color: #de1c1c;*/
    color: #F2ECE4;
}
.header a:hover{
    color: #d7d2c8;
}
.container-content{
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 0;
    /*mt-3 pt-2 ms-1 ps-0*/

}
/*#F25C05*/
/*#F27405*/
/*#72A603*/

