main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}
.sidebar{
    background-color: rgba(49, 180, 16, 0.8);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
}

.sidebar img{
    width: 130px;
    /*align-content: center;*/
}


.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.sidebar a:hover, .sidebar button:hover{
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}

.sidebar a:active, .sidebar button:active{
    color: rgba(255, 255, 255, 0.3);
}

.nav-link.active {
     background-color: rgba(255, 255, 255, 0.4);
     border-color: black;
}

.sidebar button{
    background-color: transparent;
    color: white ;
}

.items a:hover, .items button:hover{
    background-color: rgba(90, 195, 64, 0.85);
}

.items a{
   background-color:#5AC340;
}

.items thead{
    background-color: #5AC340;
}

.edit a:hover, .edit button:hover{
    color: rgba(255, 255, 255, 0.67);
}

.items button{
    background-color: #5AC340;
}

.total_penjualan {
    background-color: rgba(131, 195, 223, 0.5);
    height: 51px;
    align-items: center;
}

.penjualan input{
    height: 34px;
    width: 169px;
}

.btn-save {
    width: 100pt;
    background-color: #1096B4;
}
.btn-save:hover {
    width: 100pt;
    background-color: rgba(16, 150, 180, 0.9);
}

.modal-content {
    align-items: center;
    width: 571px;
    height: 205px;
}

.modal-footer{
    border: none;
}

.modal-body{
    padding-top: 3rem;
}

.btn-orange{
    color: white;
    background-color: #FFB300;
    width: 150px;
    height: 40px;
}

.btn-green-cetak{
    color: white;
    background-color: #31B410;
    width: 150px;
    height: 40px;
}

.btn-green-cetak:hover, .btn-orange:hover{
    color: rgba(255, 255, 255, 0.67);
}

.table-striped thead{
    background-color: #5AC340;
}

.delete-text{
    color: red;
    background-color: transparent;
    border: none;
}

.delete-text:hover{
    color: rgba(255, 0, 0, 0.65);
}






